<a class="skip-link" href="#writing-index">Skip to articles</a>
<main class="writing-page" id="writing-index">
  <ul class="article-list">
{% for article in articles %}
    <li>
      <a href="{{ article.href|safe }}">{{ article.title }}</a>
      <p>{{ article.description }}</p>
      <time datetime="{{ article.date_iso }}">{{ article.date_display }}</time>
    </li>
{% endfor %}
  </ul>
</main>
